*.sqlite
.project
.buildpath
.settings
.*.un~
.*.swp
*.*~
*.sqlite
*.done
composer.lock
!.gitkeep
/vendor/*
.phpunit.result.cache
tests/fixtures/bundles/config/bundles.php
tests/fixtures/config/config/*
